<form class="form-horizontal" name="orderForm" ng-submit="sendOrder()" novalidate>
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h5 class="panel-title pull-left">Nowe zamówienie:</h5>

			<div class="btn-group pull-right" role="group">
				<button type="submit" style="width: 200px;" class="btn btn-default">Wyślij</button>
			</div>
		</div>
		<div class="panel-body">

			<div class="form-group has-feedback"
				ng-class="{'has-success':orderForm.name.$valid && !orderForm.name.$pristine, 'has-error':orderForm.name.$invalid && (!orderForm.name.$pristine || orderForm.$submitted)}">
				<label class="control-label col-sm-5" for="name">Imię:</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="name" name="name" ng-model="order.name"
						ng-pattern="/^[A-ZŻŹĆĄŚĘŁÓŃ][a-zżźćńółęąś]*$/" required>
					<span class="glyphicon glyphicon-ok form-control-feedback"
						ng-show="orderForm.name.$valid && !$ctrl.orderForm.name.$pristine"></span>
					<span class="glyphicon glyphicon-remove form-control-feedback"
						ng-show="orderForm.name.$invalid && !orderForm.name.$pristine"></span>
					<span class="help-block error"
						ng-show="orderForm.name.$error.required && (!orderForm.name.$pristine || orderForm.$submitted)">Podaj
						imię</span>
					<span class="help-block error"
						ng-show="orderForm.name.$error.pattern && !orderForm.name.$pristine">Imię
						powinno być jednym wyrazem, pisanym z wielkiej litery, bez cyfr i znaków specjalnych</span>
				</div>
			</div>

			<div class="form-group has-feedback"
				ng-class="{'has-success':orderForm.age.$valid && !orderForm.age.$pristine, 'has-error':orderForm.age.$invalid && (!orderForm.age.$pristine || orderForm.$submitted)}">
				<label class="control-label col-sm-5" for="name">Wiek:</label>
				<div class="col-sm-3">
					<input type="number" min="18" max="100" class="form-control" id="age" name="age"
						ng-model="order.age" required>
					<span class="glyphicon glyphicon-ok form-control-feedback"
						ng-show="orderForm.age.$valid && !$ctrl.orderForm.age.$pristine"></span>
					<span class="glyphicon glyphicon-remove form-control-feedback"
						ng-show="orderForm.age.$invalid && !orderForm.age.$pristine"></span>
					<span class="help-block error"
						ng-show="orderForm.age.$error.required && (!orderForm.age.$pristine || orderForm.$submitted)">Podaj
						wiek</span>
					<span class="help-block error"
						ng-show="(orderForm.age.$error.min || orderForm.age.$error.max || orderForm.age.$error.number) && !orderForm.age.$pristine">Podaj
						wartość z zakresu od 18 do 100</span>

				</div>
			</div>

			<div class="panel-collapse collapse in" role="tabpanel">
				<div class="panel-body">
					<div class="panel panel-default">
						<div class="panel-heading clearfix">

							<div class="btn-group pull-right" role="group">
								<button type="button" class="btn btn-default" ng-click="saveEntry()"> Zapisz </button>
							</div>
						</div>
						<div class="panel-body">

							<div class="form-group"
								ng-class="{'has-success':orderForm.color.$valid && !orderForm.color.$pristine, 'has-error':orderForm.color.$invalid && !orderForm.color.$pristine}">
								<label class="control-label col-sm-5" for="color">Kolor:</label>
								<div class="col-sm-3">
									<select class="form-control" name="color" ng-model="entry.color" required>
										<option value="{{color.value}}" ng-repeat="color in $ctrl.colors">
											{{color.text}} </option>
									</select>
									<span class="help-block error"
										ng-show="orderForm.color.$invalid && !orderForm.color.$pristine">To
										pole jest wymagane</span>
								</div>
							</div>

							<fieldset class="form-group row"
								ng-class="{'has-success':orderForm.size.$valid && !orderForm.size.$pristine, 'has-error':orderForm.size.$invalid && !orderForm.size.$pristine}">
								<label class="control-label col-sm-5" for="size">Rozmiar:</label>
								<div class="col-sm-3">
									<ng-form name="size" novalidate>
										<div class="form-check" ng-repeat="size in $ctrl.sizes">
											<label class="form-check-label">
												<input type="radio" class="form-check-input" name="size"
													ng-value="size.value" ng-model="entry.size"
													ng-required="!entry.size">
												{{size.text}}
											</label>
										</div>
									</ng-form>
									<span class="help-block error"
										ng-show="orderForm.size.$invalid && !orderForm.size.$pristine">To pole
										jest wymagane</span>

								</div>
							</fieldset>

							<hr>

							<div style="display: flex; flex-wrap: wrap; margin: -5px -5px;">
								<div class="custom-card" style="margin: 5px 5px;"
									ng-repeat="entry in $ctrl.entries track by $index">
									<p class="card-text">Kolor: {{getTextByValue($ctrl.colors, entry.color)}} </p>
									<p class="card-text">Rozmiar: {{getTextByValue($ctrl.sizes, entry.size)}} </p>
								</div>
							</div>

							<div class="alert alert-danger" role="alert"
								ng-show="$ctrl.entries.length==0 && orderForm.$submitted">
								<p class="text-center">
									<strong>Zapisz przynajmniej jeden element</strong>
								</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<style>
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
</style>